body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form#payment {
	background: #ffffff95;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
}

form#payment fieldset {
	border: none;
	margin-bottom: 10px;
}
form#payment fieldset:last-of-type {
	margin-bottom: 0;
}

form#payment legend {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

form#payment > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

form#payment fieldset fieldset legend {
	color: #111111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}

form#payment ol {
    padding-right: 25px;
}

form#payment ol li {
    text-align: center;
    font-weight: 500;
	background-color: rgb(255, 255, 255);
	border-style: none;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	line-height: 30px;
	list-style: none;
	padding: 0 10px 10px 10px;
	margin-bottom: 10px;
    
}
form#payment ol ol li {
	background: none;
	border: none;
	float: left;
    
}

form#payment label {
	font-size: 13px;
}

form#payment fieldset fieldset label:hover {
	cursor: pointer;
}

form#payment input:not([type=radio]),
form#payment textarea {
    font-size: 14px;
    text-align: left;
	background: #0000000a;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 8px;
	padding: 5px 5px 5px 20px;
	width: 100%;
}
form#payment input:not([type=submit]):focus,
form#payment textarea:focus {
	background: #ffffff;
}
form#payment input[type=radio] {
	float: left;
	margin-right: 5px;
}

form#payment button {
	background: #26c620;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-transform: uppercase;
}
form#payment button:hover {
	background: #59df55;
	cursor: pointer;
}