body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form#form {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
}

form#form fieldset {
	border: none;
	margin-bottom: 10px;
}
form#form fieldset:last-of-type {
	margin-bottom: 0;
}

form#form legend {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

form#form > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

form#form fieldset fieldset legend {
	color: #111111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}

form#form ol {
    padding-right: 25px;
}

form#form ol li {
    text-align: center;
    font-weight: 500;
	background-color: rgba(134, 215, 199, 0.445);
	border-style: none;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	line-height: 30px;
	list-style: none;
	padding: 0 10px 10px 10px;
	margin-bottom: 10px;
    
}
form#form ol ol li {
	background: none;
	border: none;
	float: left;
    
}

form#form label {
	font-size: 13px;
}

form#form fieldset fieldset label:hover {
	cursor: pointer;
}

form#form input:not([type=radio]),
form#form textarea {
    font-size: 14px;
    text-align: left;
	background: #ffffff92;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 8px;
	padding: 5px 5px 5px 20px;
	width: 100%;
}
form#form input:not([type=submit]):focus,
form#form textarea:focus {
	background: #ffffff;
}
form#form input[type=radio] {
	float: left;
	margin-right: 5px;
}

form#form button {
	background: #26c620;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-transform: uppercase;
}
form#form button:hover {
	background: #59df55;
	cursor: pointer;
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}