<div class="container">
  <app-item-input (itCreated)="onAddItem($event)"></app-item-input>
  <hr>
  <div class="flex-container">
    <app-item-cards *ngFor="let list of itemList; index as i" [items]="list" [status]="list.itemStatus">
      <hr>
      <button class="btn btn-danger" style="margin: 2vh 2vh; width: 200px; height: 50px;"
        (click)="destroyItem(i)">Delete</button>
      <button class="btn btn-primary" style="margin: 2vh 2vh;width: 200px; height: 50px;" (click)="changeStatus(i)">Change
        Status</button>
    </app-item-cards>
  </div>
</div>
